<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FactorioModEnvironnment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FactorioModEnvironnment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <FactorioModEnvironnment.Properties.Settings>
            <setting name="FactorioProgramFiles" serializeAs="String">
                <value>C:/Program Files/Factorio/</value>
            </setting>
            <setting name="definesHtml" serializeAs="String">
                <value>doc-html/defines.html</value>
            </setting>
            <setting name="luaLibsPaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>data</string>
                        <string>data/core</string>
                        <string>data/core/lualib</string>
                        <string>data/base</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="luaInitFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>data/core/lualib/dataloader.lua</string>
                        <string>data/core/data.lua</string>
                        <string>data/base/data.lua</string>
                    </ArrayOfString>
                </value>
            </setting>
        </FactorioModEnvironnment.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <FactorioModEnvironnment.Properties.Settings>
            <setting name="FactorioModPath" serializeAs="String">
                <value>D:/Application Data/Factorio/mods/</value>
            </setting>
            <setting name="DestinationZip" serializeAs="String">
                <value>C:/Users/Nicolas/Desktop</value>
            </setting>
        </FactorioModEnvironnment.Properties.Settings>
    </userSettings>
</configuration>
